body {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
}

.banner {
    text-align: center;
}

.boards-container {
    display: flex;
    justify-content: space-around;
}

.board-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.row {
    display: flex;
}

.column {
    background-color: rgb(220, 220, 220);
    border: 1px solid white;
    width: 40px;
    height: 40px;
}

.human-board .column.ship {
    background-color: rgb(110, 110, 110);
}

.human-board .column.preview-valid {
    background-color: rgb(150, 150, 150);
}

.human-board .column.preview-invalid {
    background-color: rgb(150, 0, 0);
}

.column.pressed {
    background: rgb(180, 180, 180);
}

.computer-board .column:not(.pressed):hover {
    background: rgb(200, 200, 200);
}

.column.pressed.hit {
    background-color: red;
}

.missed-counter {
    font-size: 0.8rem;
}

.shuffle-button {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 5px;

    align-self: center;
}
