body {
    background-color: rgb(250, 250, 250);
}

h1 {
    text-align: center;
}

.boards-container {
    display: flex;
    justify-content: space-around;
}

.board-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.missed-counter {
    font-size: 0.8rem;
}

.row {
    display: flex;
}

.column {
    background-color: rgb(220, 220, 220);
    border: 1px solid white;
    width: 40px;
    height: 40px;
}

.column.pressed {
    background: rgb(180, 180, 180);
}

.computer-board .column:not(.pressed):hover {
    background: rgb(200, 200, 200);
}

.human-board .column.ship {
    background-color: purple;
}

.column.pressed.hit {
    background-color: red;
}
