body {
    background-color: rgb(250, 250, 250);
}

.boards-container {
    display: flex;
}

.board {
    margin: 100px;
}

.row {
    display: flex;
}

.column {
    background-color: rgb(220, 220, 220);
    border: 1px solid white;
    width: 40px;
    height: 40px;
}

.column.hit {
    background-color: red;
}

.column.missed {
    background: rgb(180, 180, 180);
}

.computer-board .column:not(.pressed):hover {
    background: rgb(200, 200, 200);
}
